azd-components.lock.json text eol=lf
scripts/vendor/** text eol=lf
contracts/notifications/** text eol=lf
function-package/index.cjs text eol=lf linguist-generated=true -whitespace
function-package/index.cjs.LEGAL.txt text eol=lf linguist-generated=true -whitespace
function-package/THIRD-PARTY-NOTICES.txt text eol=lf linguist-generated=true -whitespace
function-package/UNLICENSE.txt text eol=lf linguist-generated=true -whitespace
infra/main.json text eol=lf
